name: docs

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  deploy:
    runs-on: macos-13
    env:
      UV_NO_SYNC: "1"
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v6
      - uses: pymmcore-plus/setup-mm-test-adapters@main

      - name: Install dependencies
        run: uv sync --no-dev --group docs --extra PyQt6

      - name: Test docs
        if: github.event_name == 'pull_request'
        run: uv run mkdocs build --strict

      - name: Deploy docs
        if: github.ref == 'refs/heads/main'
        run: uv run mkdocs gh-deploy --strict --force
